<div id="container">

<div id="header"><h1>RubyLearning.org</h1></div>

<div id="sub_header">To promote worldwide the fun of programming in Ruby</div>

<div id="main_content_top"></div>

<div id="main_content">

<div class="content">
  <h2><strong>Online Ruby Programming Courses at RubyLearning</strong></h2>

  <p style="float: right; margin-left: 10px; margin-bottom: 10px;"><a href="http://1st.shortyawards.com/category/education"><img src="http://rubylearning.com/images/satransparent.png" alt="Winner in Education category at Shorty Awards" title="Winner in Education category at Shorty Awards" /></a></p>

  <p><strong>Programming the Web with Ruby</strong> course <img height="11" width="28" style="border: 0px none" src="/images/nw.gif" alt="New" title="New" /></p>
  <ul>
    <li>Start date: <strong>9th Mar. 2013</strong></li>
    <li>Period: The course runs for 2 weeks</li>
    <li>Course Details</li>
    <li>Signup <a href="http://rubylearning.org/classes/login/signup.php?">here</a>.</li>
    <li>The course is <strong>"FREE"</strong></li>
  </ul>

  <p><strong>Core Ruby</strong> course <img height="11" width="28" style="border: 0px none" src="/images/nw.gif" alt="New" title="New" /></p>
  <ul>
    <li>Start date: <strong>Saturday, 2nd Mar. 2013</strong></li>
    <li>Period: The course runs for 7 weeks</li>
    <li><a href="http://rubylearning.com/satishtalim/tutorial.html">Syllabus</a></li>
    <li><a href="http://rubylearning.com/satishtalim/faq.html#q5">Course Details:</a></li>
    <li>Signup <a href="http://rubylearning.org/classes/login/signup.php?">here</a>.</li>
  </ul>
  <p><strong>JRuby Programming</strong>: Next batch to be announced</p>
  <p>For all the answers to your questions, please read the <strong><a href="http://rubylearning.com/satishtalim/faq.html">FAQ</a></strong><br />
  (This site is best viewed with a Firefox browser)</p>
</div>

<div class="menu">
<div class="menu_title">Main menu</div>
<ul>
<li><a href="http://satishtalim.com/" class="menu_link">About me</a></li>
</ul>
<div class="menu_title">Sites</div>
<ul>
<li><a href="http://rubylearning.com/" class="menu_link">RubyLearning.com</a></li>
<li><a href="/satishtalim/tutorial.html" title="Online Ruby Course">Online Course</a></li>
<li><a href="http://rubylearning.com/blog/" class="menu_link">RubyLearning blog</a></li>
</ul>
</div>

<div id="clear"></div>

</div>

<div id="main_content_bottom">
</div>

<div id="footer"><strong>Copyright &copy; 2013</strong> | <a href="http://rubylearning.org/">RubyLearning.org</a> | <b>Design by</b> <a href="http://www.pikanai.com">Pikanai.com</a></div>

</div>
